 <div class='Tweet'>
    <div class='Tweet_Pic_Container'>
      <img src=<%= tweet.user.profile_image_uri_https %> >
    </div>
    <div class='Tweet_Body'>
      <a href="#" class="Tweet_User_Name">
        <%= tweet.user.name %>
      </a>
      <p class="Tweet_Text">
        <%= tweet.full_text %>
      </p>
      <a href='<%= tweet.uri %>' class='See_Tweet'>
        Click Here To See Tweet
      </a>
      <h5>
        Tweet Created At: <%= tweet.created_at %>
      </h5>
      
      <h5 class='Tweet_Source'>
        Tweet Source: <%= tweet.source.html_safe  %>
      </h5>
      
    </div>
  </div>