<!DOCTYPE html>
<html>
  <head>
    <title>Twitter</title>
    <%= csrf_meta_tags %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  	<link href="/assets/application.css" media="screen" rel="stylesheet" />
  	<link href="/assets/bonus.css" media="screen" rel="stylesheet" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>

  <body>  
	  <div class="container">
	    <div class="row">

	      <div class="col-12">
	        <div class="row head">
	        	<div class="col-9">
	        		<%= image_tag("twitter_logo.png", :alt => "twitter logo", :class => "logo") %>
	        	</div>
	        	<div class="col-3">
	        		<button type="button" class="button-header">Join Twitter!</button>
							<button type="button" class="button-header">Login</button>
						</div>
	        </div>
	        <div class="row arrow">
	        	<%= image_tag("arrow.png", :alt => "twitter logo", :class => "arrow-pic") %>
	        </div>
	      </div>


	  			<div class="row">
		   			<div class="col-9 white">
		      			<div class="white-main">
		      				<h1 class="top-line">Recent Public Tweets</h1>
		      				<h3>What everyone on Twitter is talking about!</h3>

		      			<div class="col-12">
			      			<% @tweets.each do |tweet| %>
			      				<div class="row separator">
			      					</br>

			      					<div class="col-2">
						      			<div class="pic">
						      				<%= image_tag tweet.user.profile_image_url_https, :class => "pic-size" %>
						      			</div>
						      		</div>	

					      			<div class="col-10">
						      			<div class="row">
							      			<div class="name">
							      				<a href=<%=tweet.user.url%> ><%= tweet.user.screen_name %></a>
							      			<span class="tweet"><%= parsed_tweet tweet %></span></div>
						      			</div>
							      		<div class="row">
							      			<div class="timestamp"><%= tweet.created_at %> from 
							      			<%= tweet.source.html_safe%> </div>
						      			</div>
					      			</div>

					      		</br>
				      			</div>
				      		<%end%>
		      			</div>
		      		</div>
		    		</div>
		    		
		    		<div class="col-3">
			    		<div class="row blue">
			    			<div class="col-12">
				      			<div>Create Your Account</div>
				      			<button type="button" class="button-join">Join!</button>
				      			<div class="phone-mention">Already using Twitter from your phone?
				      				<a href="#">Click Here</a>
				      			</div>
				      			<select class="dropdown">
				      		    <option value="title" selected>Select Language ...</option>
								  		<option value="English">English</option>
								  		<option value="Spanish">Spanish</option>
								  		<option value="French">French</option>
								  		<option value="German">German</option>
										</select>
										<div class="green-block">
											<% @tweets.each do |tweet| %>
												<div class="row">
						      				<div class="pic col-3">
						      				<%= image_tag tweet.user.profile_image_url_https, :class => "pic-mini-size" %>
						      				</div>
						      			<div class="name-mini col-9">
						      				<a href=<%=tweet.user.url%> ><%= tweet.user.screen_name %></a>
							      		</div>
							      		</div>
							      	<%end%>
								</div>
			      	</div>
			    	</div>

	  			</div>
			</div>
		</div>

	</body>
</html>
