<% @results.each do |tweet| %>
  <div class="tweet">
    <img src="<%= tweet["user"]["profile_image_url"] %>"
         onerror="this.onerror=null;this.src='x-logo.png';"
         class="thumbnail" />
    <div class="body">
      <div class="content">
        <div class="user">
          <a href="<%= tweet["user"]["url"] %>">
            <%= extract_name_from_x_url(tweet["user"]["url"]) %>
          </a>
        </div>
        <div class="text">
          <%= tweet["text"] %>
        </div>
      </div>
      <div class="tweet_info">
        <span class="created_at"><%= tweet["created_at"] %></span>
        <% unless extract_source_from(tweet["source"]).nil? %>
          <span class="source">via <%= extract_source_from(tweet["source"]) %></span>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
