<div class="col-lg-12">
	<div class="page-header">
		<h1> Recent Public Tweets </h1>
		<p class="lead">What everyone on Twitter is talking about!</p>
	</div>
</div>

<div id="div1" class="col-lg-12">
	<div class="well">
		<% @tweets.each do |t| %>
		<img src="<%= t['profile_image_url'] %>">
		<a href="http://www.twitter.com/<%= t['username'] %>"><%= t['username'] %></a>
		<div class="col-lg-12">
			<blockquote>
				<p class="text-info"><%=t['text'] %></p>
				<cite>
					<p class="text-success">
						via <%=t['source'] %>
					</p>
					<p class="text-warning"><%= t['recieved_at'] %></p>
				</cite>
			</blockquote>
		</div>
		<% end %>
	</div>
</div>

<div class="col-lg-12">
	<button type="button" class="btn btn-default btn-lg btn-block">Update Tweets</button>
</div>
