<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
  </head>
  <body>
    <hr class="top">
    <section>
      <hgroup>
        <h1>Recent Public Tweets</h1>
        <h2>What everyone on Twitter is talking about!</h2>
      </hgroup>
      <% tweets.each do |tweet| %>
        <hr>
        <article>
          <img src=<%= tweet.user.profile_image_url %>>
          <span class="top_line">
            <span class="screen_name"><%= tweet.user.screen_name %></span>
            <span class="full_text"><%= tweet.full_text %></span>
          </span>
          <br />
          <span class="bottom_line"><%= tweet.display_time_ago %> from <%= tweet.source %>
          <% if tweet.in_reply_to_screen_name %>
            in reply to <%= tweet.in_reply_to_screen_name %>
          <% end %>
          </span>
        </article>
      <% end %>
    </section>
    <hr>
  </body>
</html>
