<% @results.each do |tweet| %>
  <div class="tweet">
    <img src="<%= tweet["user"]["profile_image_url"] %>"
         onerror="this.onerror=null;this.src='x-logo.png';"
         class="thumbnail" />
    <div class="body">
      <div class="content">
        <div>
          <a href="<%= tweet["user"]["url"] %>" style="text-decoration: none;">
            <b><%= extract_name_from_x_url(tweet["user"]["url"]) %></b>
          </a>
        </div>
        <div>
          <%= tweet["text"] %>
        </div>
      </div>
      <div class="tweet_info">
        <span>
          <%= time_distance_in_words(tweet["created_at"]) %> ago
        </span>
        <% unless extract_source_from(tweet["source"]).nil? %>
          <span>
            via <%= extract_source_from(tweet["source"]) %>
          </span>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
