<section>
<% get_feed.each do |t| %>
  <article class="dt w-100 bb b--black-05 pb2 mt2" href="#">
    <div class="dtc w2 w3-ns">
      <a class="dim" href="<%= t.user_url %>" <% if t.user_url.empty? %>style="pointer-events: none;"<% end %>>
        <img src="<%= t.user_img %>" class="ba b--black-10 db br2 w2 w3-ns h2 h3-ns" />
      </a>
    </div>
    <div class="dtc v-mid pl3">
      <a class="f6 fw6 mv0 gray link dim" href="<%= t.user_url %>" <% if t.user_url.empty? %>style="pointer-events: none;"<% end %>>@<%= t.user_name %></a>
      <span class="db f5 fw4 mv1"><%= t.text %></span>
      <span class="db f6 fw4 silver i">posted <strong><%= t.time_phrase %></strong> via <%= t.source %></span>
    </div>
  </article>
<% end %>
</section>
