<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
			</a>
			<a class="brand" href=<%="#{root_path}"%> alt="Simple Public Timeline">SimplePublicTimeline</a>
			<div class="nav-collapse">
				<ul class="nav">
					<% if (request.path == root_path) %>
						<li class="active">
							<a class="test_class" href=<%="#{root_path}"%>>via Rails</a>
						</li>
					<% else %>
						<li  class="">
							<a class="test_class" href=<%="#{root_path}"%>>via Rails</a>
						</li>
					<% end %>
					<% if (request.path == tweets_via_js_path) %>
						<li  class="active">
							<a href=<%="#{tweets_via_js_path}"%>>Via JS</a>
						</li>
					<% else %>
						<li  class="">
							<a href=<%="#{tweets_via_js_path}"%>>via JS</a>
						</li>
					<% end %>
				</ul>
			</div>
		</div>
	</div>
</div>	